@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>
        <a asp-area="" asp-controller="Livros" asp-action="Index">
            Veja o nosso repositório de Livros
        </a>
    </h3>
    <h3>
        <a asp-area="" asp-controller="Autors" asp-action="Index">
            Veja o nosso repositório de Autores
        </a>
    </h3>
</div>
